h1 {
  color: blue;
  font-size: 90px;
  text-align: center;
  font-family: Arial;
}
p {
  color: lightblue;
  text-align: center;
  font-size: 80px;
  font-family: "Gill sans";
}
button {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  text-align: center;
}
#Olibtn {
  display: block;
  margin-lrft: auto;
  margin-right: auto;
}
