h1 {
  color: blue;
  font-size: 90px;
  text-align: center;
  font-family: Arial;
}
p {
  color: lightblue;
  text-align: center;
  font-size: 80px;
  font-family: Georgia;
}
button {
  background-color: darkyellow;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  text-align: center;
}
#Olibtn {
  display: block;
  margin: 20px auto;
}
